<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
                <binding name="BasicHttpsBinding_IService1" />
                <binding name="BasicHttpsBinding_IService2" />
                <binding name="BasicHttpsBinding_IService" />
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://venus.sod.asu.edu/WSRepository/Services/RandomStringSvc/Service.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IService1"
                contract="GetRandomStringService.IService" name="BasicHttpsBinding_IService1" />
            <endpoint address="https://venus.sod.asu.edu/WSRepository/Services/RandomStringSvc/Service.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IService2"
                contract="ServiceReference1.IService" name="BasicHttpsBinding_IService2" />
            <endpoint address="https://venus.sod.asu.edu/WSRepository/Services/EncryptionWcf/Service.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IService"
                contract="EncryptionService.IService" name="BasicHttpsBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>